[submodule "img_utils"]
	path = img_utils
	url = git@github.com:kattsunnn/img_utils.git
[submodule "super_resolution"]
	path = super_resolution
	url = git@github.com:kattsunnn/super_resolution.git
[submodule "ReId"]
	path = ReId
	url = git@github.com:kattsunnn/ReId.git
[submodule "reid"]
	path = reid
	url = git@github.com:kattsunnn/ReId.git
