[submodule "img_utils"]
	path = img_utils
	url = git@github.com:kattsunnn/img_utils.git
[submodule "super_resolution"]
	path = super_resolution
	url = git@github.com:kattsunnn/super_resolution.git
[submodule "person_re_identification"]
	path = person_re_identification
	url = git@github.com:kattsunnn/person_re_identification.git
[submodule "three_d_reconstruction"]
	path = three_d_reconstruction
	url = git@github.com:kattsunnn/three_d_reconstruction.git
[submodule "submodule/camera_calibration"]
	path = submodule/camera_calibration
	url = https://github.com/kattsunnn/camera_calibration.git
